@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes zeruva-fly {
  0% { transform: translate3d(0px, 0px, 0px) rotate(-10deg); }
  50% { transform: translate3d(-18px, -10px, 0px) rotate(-12deg); }
  100% { transform: translate3d(0px, 0px, 0px) rotate(-10deg); }
}
